.wrapTextPromo {
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
  .content {
    h2 {
      color: $green;
      font-size: 55px;
    }
    p {
      font-size: 20px;
    }
    .btnScopri {
      font-size: 15px;
      color: $bluScuro;
      background-color: transparent;
      padding: 20px 50px;
    }
  }
}
.retGreen {
  position: absolute;
  right: 0;
  height: 500px;
  width: 25%;
  background-color: $green;
}
.wrapImgPromo {
  display: flex;
  align-items: center;
  height: 500px;
  width: 100%;
  .content {

  }
}
